@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    margin: 200px auto;
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
}

#clockDate {
    font-weight: 900;
    font-size: 2.5rem;
}